.App {
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.board__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.square {
  float: left;
  font-size: 90px;
  height: 200px;
  width: 200px;
}
